@keyframes scale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
main {
	height: 100vh;
}

h1 {
	font-size: 72px;
	color: #000000;
	animation: scale 2s infinite;
	text-align: center;
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 40px;
	}
}
