@keyframes scale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
main {
	height: 100vh;
}

h1 {
	font-size: 72px;
	color: #ffffff;
	animation: scale 2s infinite;
}
